.date-holder {
  position: absolute;
  top: 200px;
  right: 100px;
  transition: transform 1s;
  transition: ease-in all 2s;
  // transform: translateX(200%);
}

.hide {
  position: absolute;
  top: -2000px;
  right: -1000px;
  // transform: translateX(100%);
}
