.favorite-main {
  z-index: 2;
  width: 100vw;
  //border: 1px solid black;
  height: auto;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  h2{
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#ff4e50),
      color-stop(20%, #f39c12),
      to(#f9d423)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.favorite-wrapper {
  @include wrapper;
  margin-bottom: 10rem;
}

.favorite-article {
  @include cardArticle;
  background-color: $opasityOrnge;

  img {
    border-radius: 20px;
    width: 200px;
    height: 200px;
  }
  .favorite-info {
    @include cardArticle-info;
  }
}
