.home-main {
  @include main;
}

.home-top-section {
  z-index: 2;
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  margin: 2rem;
  align-items: center;
  justify-content: center;

  .card-content-header {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .tab {
    cursor: pointer;
    border-radius: 20px;
    font-size: 8px;
    padding: 8px;

    &:hover {
      box-shadow: $left-box-shadow;
    }
  }

  .card {
    width: 500px;
    height: 200px;
    border-radius: 20px;
    margin: 1rem;
    box-shadow: $left-box-shadow;
    z-index: 2;
    background-color: transparent;
    overflow: scroll;

    &-content {
      padding: 1rem;
    }

    &-date-info {
      margin-top: 0.2rem;
      display: flex;
      flex-direction: row;
      width: auto;
      justify-content: space-between;
      align-items: center;
      //justify-content: center;
    }
  }
  .hide {
    display: none;
  }

  .nav-links {
    color: white;
    padding: 1rem;
    margin-left: 1rem;

    &:hover {
      color: #ff4e50;
    }
  }

  // .card1 {
  //   background-image: url("./images/list.jpeg");
  // }
}

.home-search {
  margin-top: 2rem;
  margin-bottom: 2rem;
  z-index: 2;
  min-width: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .home-title {
    width: 60vh;
    display: flex;
    flex-direction: column;
    // margin: 0 2rem;
  }
}

.category-wrapper {
  @include wrapper;
  padding-bottom: 10rem;
}

.category-article {
  @include cardArticle;
}

////// bubbles
.bubbles img {
  width: 50px;
  animation: bubble 8s linear infinite;
}

.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1) {
  animation-delay: 2s;
}

.bubbles img:nth-child(2) {
  animation-delay: 3s;
}

.bubbles img:nth-child(3) {
  animation-delay: 1s;
}

.bubbles img:nth-child(4) {
  animation-delay: 6s;
}

///// media
@media screen and (max-width: 500px) {
  .home-top-section {
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  .home-search {
    min-width: 60vw;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .home-title {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .home-search {
    width: 60vw;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 1rem;
  }
  .home-title {
    margin-bottom: 2rem;
  }
}
