.home-main {
  @include main;
}

.home-top-section {
  z-index: 2;
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  margin: 2rem;
  align-items: center;
  justify-content: center;

  ///@at-root/// persona
  .card-persona {
    width: 300px;
    height: 150px;
    border-radius: 20px;
    margin: 1rem;
    //box-shadow: $left-box-shadow;
    box-shadow: $box-shadow;
    z-index: 2;
    background-color: $opasityOrnge;
    //background-color:$card-background;
    padding: 1rem;
    font-size: 12px;

    &-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .content-left {
      display: flex;
      align-items: center;
      border-right: 1px solid orangered;
      height: 125px;
    }
    .content-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 300px;
      height: 140px;
      padding: 0.5rem;

      span {
        color: #ff4e50;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.2rem;
        width: 240px;

        &:nth-child(2) {
          color: orange;
        }
        &:nth-child(4) {
          color: orange;
        }
      }
    }
  }

  /// card dates
  .card {
    width: 300px;
    height: 150px;
    border-radius: 20px;
    margin: 1rem;
    //box-shadow: $left-box-shadow;
    box-shadow: $box-shadow;
    z-index: 2;
    background-color: $opasityOrnge;
    overflow: scroll;
    font-size: 12px;

    .card-content-header {
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
    }

    .tab {
      cursor: pointer;
      border-radius: 20px;
      font-size: 8px;
      padding: 8px;

      &:hover {
        //box-shadow: $left-box-shadow;
        box-shadow: $box-shadow;
      }
    }

    &-content {
      padding: 1rem;
    }

    &-date-info {
      margin-top: 0.2rem;
      display: flex;
      flex-direction: row;
      width: auto;
      justify-content: space-between;
      align-items: center;
      //justify-content: center;
    }
  }
  .hide {
    display: none;
  }

  .nav-links {
    color: white;
    padding: 1rem;
    margin-left: 1rem;

    &:hover {
      color: #ff4e50;
    }
  }
}

/// middle section

.home-middle-section {
  width: 60vw;
}
.home-search {
  margin-top: 2rem;
  margin-bottom: 2rem;
  z-index: 2;
  //width: 90vw;
  //min-width: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .home-title {
    display: flex;
    flex-direction: column;
    // margin: 0 2rem;
  }
}

.category-wrapper {
  @include wrapper;
  padding-bottom: 10rem;
}

.category-article {
  // @include cardArticle;
  width: 200px;
  height: 200px;
  z-index: 2;
  margin: 1rem;

  box-shadow: $box-shadow;
  border: 1px solid transparent;
  border-radius: 20px;

  &:hover {
    border: 1px solid black;
  }

  h4:hover {
    color: white;
  }
}

////// bubbles
.bubbles img {
  width: 50px;
  animation: bubble 8s linear infinite;
}

.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1) {
  animation-delay: 2s;
}

.bubbles img:nth-child(2) {
  animation-delay: 3s;
}

.bubbles img:nth-child(3) {
  animation-delay: 1s;
}

.bubbles img:nth-child(4) {
  animation-delay: 6s;
}

///// media
@media screen and (max-width: 500px) {
  .home-top-section {
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  .home-search {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 12px;
  }
  .home-title {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .home-search {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 1rem;
  }
  .home-title {
    margin-bottom: 2rem;
  }
}
