.home {
  z-index: 2;
  width: 100vw;
  //border: 1px solid black;
  height: auto;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-section {
  height: 50vh;
}

.home-search {
  z-index: 2;
  width: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .home-search {
    width: 60vw;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .home-title {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .home-search {
    width: 60vw;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .home-title {
    margin-bottom: 2rem;
  }
}

.home-title {
  // width: 60vh;
  display: flex;
  flex-direction: column;
  // margin: 0 2rem;
}
.category-wrapper {
  z-index: 2;
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

.category-article {
  z-index: 2;
  margin: 1rem;
  box-shadow: 5px 5px 5px #05050598;
  border: 1px solid transparent;
  border-radius: 20px;

  &:hover {
    border: 1px solid black;
  }
}
// .category-article {
//   background-image: url("/frontend/src/images/baking.jpg");
//   height: 100px;
// }
