@mixin blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

@mixin blurLight {
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

@mixin navLinks {
  .nav-links {
    color: white;
    padding: 1rem;
    margin-left: 1rem;

    &:hover {
      color: #ff4e50;
    }
  }
}

@mixin input {
  padding: 10px;
  outline: none;
  border: 1px solid #ccc;
  width: 300px;
  font-size: 1rem;
  border-radius: 20px;
  margin: 20px;
}

@mixin main {
  z-index: 2;

  width: 100vw;
  height: auto;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin wrapper {
  z-index: 2;
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

@mixin cardArticle {
  z-index: 2;
  margin: 1rem;
  //box-shadow: $left-box-shadow;
  box-shadow: $box-shadow;
  border: 1px solid transparent;
  border-radius: 20px;

  &:hover {
    border: 1px solid black;
  }

  h4:hover {
    color: white;
  }
}

@mixin cardArticle-info {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 0.5rem;
  background: transparent;
  border-radius: 20px;
  overflow: scroll;
  justify-content: center;
  text-align: center;

  .icon-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem;
    cursor: pointer;
  }
}
