/// FONTS 

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');
$font-family:  'Poppins', sans-serif;
$primary-font: 'Poppins', sans-serif;
$detail-font: 'Shadows Into Light', cursive;
$logo-font:  'Pushster', cursive;


/// COLORS 
$primary-fontColor: rgb(29, 29, 29);
$orange: rgb(247,128,48);
$yellow: rgb(249,209,36);
$dark: rgb(29, 29, 29);
$rgba-light : rgba(1,1,1,0.2);
$rgba : rgba(1,1,1,0.5);
$box-shadow: 10px 10px 5px #05050598;

$btn-background :  -webkit-gradient(linear,left top,right top,from(#ff4e50),color-stop(50%,#f39c12),to(#f9d423));


/// SIZES 


