/// FONTS
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Licorice&family=Poppins:ital,wght@0,400;0,600;1,500&family=Shadows+Into+Light&display=swap");

$font-headers: "Dancing Script", cursive;
$font-bread-text: "Poppins", sans-serif;

/// COLORS
$primary-fontColor: rgb(66, 64, 64);
$orange: rgb(247, 128, 48);
$yellow: rgb(249, 209, 36);
$opasityOrnge: rgba(255, 166, 0, 0.26);
$lightOrange: rgb(240, 206, 165);
$dark: rgb(29, 29, 29);
$rgba-light: rgba(1, 1, 1, 0.2);
$rgba: rgba(1, 1, 1, 0.5);
$hover: #ff4e50;
//$box-shadow: 10px 10px 5px #05050598;
$box-shadow: 5px 5px 5px #05050598;
//$left-box-shadow: -5px -5px 5px 5px rgba(0, 0, 0, 0.288);
$left-box-shadow: -5px -5px 4px 3px rgba(0, 0, 0, 0.349);
$card-background: rgba(128, 128, 128, 0.616);

$btn-background: -webkit-gradient(
  linear,
  left top,
  right top,
  from(#ff4e50),
  color-stop(50%, #f39c12),
  to(#f9d423)
);

/// SIZES
