@import "./variables";
@import "./mixins";

@import "../components/Navbar/Navbar";
@import "../components/Home/Home.scss";
@import "../components/Search/Search.scss";
@import "../components/Meals/Meals.scss";
@import "../components/Meal/Meal.scss";
@import "../components/Favorites/Favorites.scss";
@import "../components/Shoppinglist/Shoppinglist.scss";
@import "../components/DatePick/DatePick";
//@import "../components/Home/Baking/Baking";
//@import "../src/backgroundImg/web.jpg";
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  //background-color: $yellow;
  color: $primary-fontColor;
  font-family: $font-bread-text;

  h1,
  h2,
  h3,
  h4 {
    font-family: $font-headers;
  }
}

.App {
  width: 100vw;
  height: 100vh;
  background-image: url("../backgroundImg/web3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1000px) {
  .App {
    width: 100vw;
    height: 100vh;
    background-image: url("../backgroundImg/ipad3.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 400px) {
  .App {
    width: 100vw;
    height: 100vh;
    background-image: url("../backgroundImg/iphone2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.seach-section {
  background-image: url("../backgroundImg/oranges2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background: $btn-background;
  border: none;
  padding: 12px;
  border-radius: 40px;
  color: white;

  &:hover {
    transform: scale(1.1);
    background: linear-gradient(-90deg, #ff4e50, #f39c12 50%, #f9d423);
  }
}

a {
  text-decoration: none;
  color: #ff4e50;
}
ul {
  list-style-type: none;
}

.hide {
  display: none;
}

input {
  @include input;
}
