.navbar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //justify-content: ;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  z-index: 2;
  margin-bottom: 2rem;

  padding: 3rem;
  // position: absolute;
}

.nav-logo {
  text-shadow: -1px 2px -4px #0000004b;
  font-size: 40px;

  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff4e50),
    color-stop(20%, #ee9300),
    to(#ffd500)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  // background: -webkit-gradient(
  //   linear,
  //   left top,
  //   right top,
  //   from(#ff4e50),
  //   color-stop(20%, #f39c12),
  //   to(#f9d423)
  // );
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}

.nav-link-holder {
  //margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .nav-links {
    //color: white;
    color: rgb(48, 46, 46);
    padding: 1rem;
    margin-left: 1rem;

    &:hover {
      color: #ff4e50;
    }
  }
}

@media screen and (max-width: 900px) {
  .navbar-container {
    // display: flex;
    flex-direction: column;
  }

  .nav-logo {
    text-shadow: -2px 2px -4px #0000004b;
    font-size: 60px;
  }

  .nav-link-holder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    z-index: 3;
    //background-color: $card-background;
    background-color: $opasityOrnge;
    padding: 1rem;

    &:hover {
      background-color: $lightOrange;
    }
  }
}
@media screen and (max-width: 500px) {
  .navbar-container {
    // display: flex;
    flex-direction: column;
  }

  .nav-link-holder {
    flex-direction: column;
    text-align: center;
    //justify-content: center;
    justify-content: space-around;

    li {
      margin-bottom: 0.3rem;
      font-size: 14px;
    }

    .nav-links {
      margin: 1rem;
    }
  }
}
