.meal-main {
  z-index: 2;
  width: 100vw;
  height: auto;
  max-width: 100%;
  display: flex;
  //align-items: center;
  flex-direction: column;

  .meal-header {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    position: relative;

    h3 {
      border-left: 2px solid rgb(255, 81, 0);
      padding-left: 1rem;
      margin-bottom: 0.5rem;
    }
    p {
      border-left: 2px solid orange;
      color: orange;
      //font-weight: bold;
      padding-left: 1rem;
      margin-bottom: 0.5rem;
      span {
        font-style: italic;
        font-weight: 200;
      }
    }
    a {
      border-left: 2px solid rgb(255, 251, 0);
      padding-left: 1rem;
      margin-bottom: 0.5rem;

      &:hover {
        color: black;
      }
    }
    .meal-header-saved {
      background-color: orange;
      width: 40px;
      height: 40px;
      border-radius: 0px 0px 0px 20px;
      position: absolute;
      top: 10px;
      right: 0;

      &:hover {
        border: 0.5px solid black;
      }
    }
  }
}

.meal-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
}
.meal-article {
  display: flex;
  flex-direction: row;
  //flex-wrap: wrap;
  width: 90vw;
  margin-bottom: 1rem;
  margin-left: 1rem;

  h3 {
    margin-bottom: 0.5rem;
  }

  img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
  }
  .meal-instructions {
    max-height: 400px;
    overflow: scroll;
    margin-left: 1rem;
  }
}

.meal-article-wrapper {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.meal-measure-holder {
  margin-left: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  h3 {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
  }

  .meal-measure {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    //width: 400px;
  }
}

.meal-form {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  h3 {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
  }

  .form {
    display: flex;
    flex-direction: row;
    //width: 400px;
    justify-content: space-between;
    align-items: center;

    //justify-content: center;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    textarea {
      border-radius: 20px;
      padding: 1rem;
    }

    button {
      margin: 1rem;
      display: inline-block;
    }
  }
}



////
@media screen and (max-width: 750px) {
  .meal-article {
    flex-wrap: wrap;

    img {
      margin-bottom: 1rem;
    }

    .meal-instructions {
      max-height: 200px;
      overflow: scroll;
    }
  }

  .meal-article-wrapper {
    justify-content: center;
  }
}

