.shoppinglist-main {
  @include main;
  margin-bottom: 20rem;

  // h2 {
  //   background: -webkit-gradient(
  //     linear,
  //     left top,
  //     right top,
  //     from(#ff4e50),
  //     color-stop(20%, #f39c12),
  //     to(#f9d423)
  //   );
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
  // }
}

.form-control-check {
  display: none;
  align-items: center;
  justify-content: space-between;
}

.reminder p {
  text-decoration: line-through;
}

.add-form {
  display: flex;
  flex-wrap: wrap;

  .add-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.todo-content {
  width: 400px;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  //margin-top: 0.5rem;
  padding: 0.5rem;

  &:hover {
    cursor: pointer;
  }
}

.todo-info {
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: space-between;
}

@media screen and (max-width: 400px) {
  .add-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .todo-content {
    width: 90%;
  }

  .todo-info {
    width: 100%;
  }
}
