.search-main {
  z-index: 2;
  width: 100vw;
  height: auto;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .seach-section {
    //position: relative;
    height: fit-content;
    padding: 1rem;
    width: 100%;
    // OBS Background Img settings in app.scss
  }

  .search {
    z-index: 2;
    display: flex;
    max-width: fit-content;
    flex-wrap: wrap;
    margin: 1rem;
    align-items: center;
    justify-content: space-evenly;

    input {
      @include input;
    }
  }
}
