.search-main {
  @include main;

  .seach-section {
    z-index: 2;
    //position: relative;
    height: fit-content;
    padding: 1rem;
    width: 100%;

    h2 {
      //color: white;
      margin-left: 2rem;
    }
    // OBS Background Img settings in app.scss
  }

  .search {
    z-index: 2;
    display: flex;
    max-width: fit-content;
    flex-wrap: wrap;
    margin: 1rem;
    align-items: center;
    justify-content: space-evenly;

    input {
      @include input;
    }
  }
}
