.meals-wrapper {
  @include wrapper;
  margin-bottom: 10rem;
}

.meals-article {
  @include cardArticle;
  background-color: $opasityOrnge;

  img {
    border-radius: 20px;
    width: 200px;
    height: 200px;
  }

  .meals-info {
    @include cardArticle-info;
  }
}
