.meals-section {
  /// same as home category-wrapper
  z-index: 2;
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

.meals-article {
  /// same as home category-article
  z-index: 2;
  margin: 1rem;
  box-shadow: $box-shadow;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: $lightOrange;

  img {
    border-radius: 20px;
    width: 200px;
    height: 200px;
  }

  .meals-info {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 1rem;
    background: transparent;
    //background-color: $lightOrange;
    border-radius: 20px;
  }
}
